<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wordpress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordPress">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mysite.MySiteDetailActivity"
            android:label="My Site Detail Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.MainActivity" />
        </activity>
        <activity
            android:name=".ui.mysite.StatsActivity"
            android:label="My Site Stats Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>
        <activity
            android:name=".ui.mysite.ActivityLogActivity"
            android:label="My Site Activity Log Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>
        <activity
            android:name=".ui.mysite.configure.SharingActivity"
            android:label="My Site Sharing Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>
        <activity
            android:name=".ui.mysite.personalize.MenusActivity"
            android:label="My Site Menus Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>
        <activity
            android:name=".ui.mysite.personalize.ThemesActivity"
            android:label="My Site Themes Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>

        <activity android:name=".ui.mysite.configure.PeopleActivity"
            android:label="My Site People Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>
        <activity android:name=".ui.mysite.publish.media.MediaActivity"
            android:label="My Site Media Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>

        <activity android:name=".ui.mysite.publish.posts.PostsActivity"
            android:label="My Site Posts Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>

        <activity android:name=".ui.mysite.publish.pages.PagesActivity"
            android:label="My Site Pages Activity"
            android:parentActivityName=".ui.mysite.MySiteDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wordpress.ui.mysite.MySiteDetailActivity" />
        </activity>
    </application>

</manifest>